{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>

<table id = "history-table">
    <thead>
        <tr>
            <th>Stock Symbol</th>
            <th>Transaction Type</th>
            <th>Quantity Sold</th>
            <th>Transaction Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in history %}
            <tr>
                <td>{{ row["stock_symbol"] }}</td>
                <td>{{ row["transaction_type"] }}</td>
                <th>{{ row["quantity"] }}</th>
                <td>{{ row["total_price"] | usd}}</td>
                <td>{{ row["date"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

